html {
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;

  }
  
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  div {
      width: 50%;
      margin-left: 25%;
      padding: 200px 0;
      text-align: center;

  }